<p><em>FR:</em> Ce n'est pas l'instance que vous recherchez. Vous pouvez passer votre chemin. <a href="https://instances.social/">Circulez</a>.
    
<p><em>IT:</em> Questa non è l'istanza che state cercando. Ora siete liberi di proseguire. <a href="https://instances.social/">Muovetevi</a>.

<p><em>EN:</em> This isn't the instance you're looking for. You can go about your business. <a href="https://instances.social/">Move along</a>.</p>

<p>Mais on vous ❤ toujours! 🐘</p>