<a name="top"></a>
<p><em>Have fun. Be respectful. No drama.</em><br>
PLEASE DON'T HACK THE GIBSON.</p>

<p><code><pre>
      .----.-.     _____________________________________
     /    ( o \   /   Bienvenue! Welcome! Willkommen!   \
    '|  __ ` ||  /\  Benvenuta e benvenuto! Bainvegni!  /
     |||  ||| -'   -------------------------------------
</pre></code></p>

<p><small>(In the spirit of <a href="http://tilde.club/">tilde.club</a>...)</small></p>

<p><em>FRANÇAIS:</em> Le Café Mammouth est une instance suisse de <a href="https://joinmastodon.org/">Mastodon</a> tournant sur un serveur français et ouverte au monde. En particulier, nous accueillons volontiers les artistes, les illustratrices et les illustrateurs, les journalistes, les auteures et les auteurs, les bibliothécaires et les archivistes, les scientifiques, les ingénieures et les ingénieurs, les enseignantes et les enseignants, ainsi que tous les esprits curieux. <em>Les inscriptions à cette instance seront limitées à 640 utilisateurs</em>.</p>

<p><em>ITALIANO:</em> Il Caffè Mammouth è un'istanza svizzera di <a href="https://joinmastodon.org/">Mastodon</a> installata su un server francese e aperta al mondo. Particolarmente benvenute e benvenuti sono artiste e artisti, illustratrici e illustratori, giornaliste e giornalisti, autori, bibliotecarie e bibliotecari, archivisti, scienziate e scienziati, ingegnere e ingegneri, insegnanti, così come tutte le menti curiose. <em>Le iscrizioni su questa istanza saranno limitate a 640 utenti</em>.</p>

<p><em>ENGLISH:</em> The Mammouth Café is a Swiss <a href="https://joinmastodon.org/">Mastodon</a> instance running on a French server and open to the world. We particularly welcome artists and illustrators, journalists and writers, librarians and archivists, scientists and engineers, teachers, as well as all curious minds. <em>Registrations will be limited to 640 users</em> (<q>&lsquo;640 users ought to be enough for anybody.&rsquo;</q> &mdash; <cite>Bill Gates</cite>).</p>

<p>Avec ❤, votre <a href="https://www.mammouth.ch/" target="_blank">Atelier Mammouth</a>.</p>