<a name="lang"></a>
<p><em>[ <a href="#fr">Français</a> | <a href="#it">Italiano</a> | <a href="#en">English</a> ]</em></p>




<a name="fr"></a>
<p><em>Français</em></p>

<h2>Bienvenue au Café Mammouth</h2>

<p>Dans l'esprit du <a href="http://tilde.club/">tilde.club</a>, voici quelques simples règles:</p>

<ul>
<li><em>Amusez-vous. Soyez respectueux. Pas de drame.</em></li>
<li>Il n'y a PAS DE FAUTE ici. NI DE HONTE. Ne pas savoir quelque-chose, c'est très bien. Ne pas finir quelque-chose, c'est très bien aussi.</li>
<li>Nous faisons de notre mieux, et nous sommes à bord du même bateau. :)</li>
<li>NOTE IMPORTANTE: SVP NE CASSEZ PAS LE GIBSON.</li>
</ul>


<h3>Directives</h3>

<p>En plus des simples règles déjà mentionnées, au Café Mammouth nous vous demandons de suivre nos directives, semblables à <a href="https://mastodon.social/about/more">celles de l'instance mère mastodon.social</a>, à savoir:</p>

<ol type="I">
<li>Absolument aucun contenu illégal en Suisse et/ou en France n'est admis.</li>
<li>Pas de discrimination, pas de racisme, pas de xénophobie, pas de sexisme, pas d'incitation à la haine ou à la violence d'aucune sorte.</li>
<li>Le harcèlement ou l'intimidation d'autres personnes, sur ce serveur ou ailleurs, n'est pas toléré. Il en va de même pour quiconque encouragerait ou inciterait d'autres personnes à de tels comportements.</li>
<li>Des options <em>CW</em> (<em>Content Warning</em> = avertissement de sujet sensible) et <em>NSFW</em> (<em>Not Safe For Work</em> = pas adapté à un environnement de travail ou public) vous sont proposées: employez-les à bon escient au moment de publier vos partages.</li>
<li>Pas de pornographie dure ou impliquant des mineurs, d'aucune sorte. De plus, veillez à placer les contenus de nature érotique derrière des filtres <em>CW</em> et/ou <em>NSFW</em>.</li>
<li>Pas de contenu violent.</li>
<li>Pas de pourriels (<em>spam</em>), pas de pubs, pas de liens affiliés ou de promotion excessive. Mais vous pouvez sans autres annoncer votre dernière BD, votre roman auto-publié ou le prochain spectacle de votre troupe de théâtre amateur locale à notre communauté.</li>
<li>Les comptes d'entreprise sont découragés: nous préférons garder une touche personnelle. Par contre, nous accueillons volontiers les écoles, associations et autres organisations à but non lucratif (telles, p.ex., les troupes de théâtre amateur).</li>
<li>Pas de faux comptes ou de comptes parodiques personnifiant des célébrités ou d'autres personnes sans leur consentement, même dans un but humoristique.</li>
<li>Pas de <em>bots</em>, à moins qu'ils ne soient mignons ou attachants.</li>
<li>Les robots qui abusent le serveur seront envoyés à la casse.</li>
<li>Les répliquants sont comme les autres machines: ils sont ou bénéfiques, ou nocifs. S’ils sont bénéfiques, ce n'est pas notre problème.</li>
<li>Aucun zombie n'est admis, en aucun cas.</li>
<li><a href="http://www.gnuterrypratchett.com/">GNU Terry Pratchett</a>.</li>
</ol>

<p>L'interprétation et l'application finales de ces règles, de ces directives et de tout ce qui plus généralement constitue une bonne nétiquette, ainsi que toute décision pouvant résulter en la suspension et/ou la suppression d'un compte, est du seul privilège de l'administration du Café Mammouth.</p>

<p>Notre législation locale (Suisse et France) a la priorité sur nos propres règles et nos propres directives.</p>

<h4>Modifications apportées à nos directives</h4>

<p>Si nous décidons de modifier nos directives, nous publierons ces changements sur cette page.</p>

<p>Ce document a été mis à jour le 7 août 2017.</p>


<h3>Conditions d'utilisation, code de conduite et politique de confidentialité</h3>

<p>Nous sommes sûrs que vous avez déjà entendu le sermon habituel de l'administrateur local. Ça se résume généralement à ces trois points:</p>

<ol type="I">
<li>Respectez la vie privée des autres.</li>
<li>Réfléchissez avant de taper sur votre clavier.</li>
<li>Un grand pouvoir implique de grandes responsabilités.</li>
</ol>

<p>En outre, consultez <a href="https://mammouth.cafe/terms#fr">nos conditions d'utilisation</a> pour plus d'informations au sujet de notre support, de notre code de conduite et de notre politiqué de confidentialité.</p>


<h3>À propos de ce site et comment le soutenir</h3>

<p>Le Café Mammouth est une <a href="https://joinmastodon.org/">instance de Mastodon</a> et elle est gérée par l'<a href="https://www.mammouth.ch">Atelier Mammouth</a> depuis un TARDIS quelque-part/temps dans une sorte de grande boule de truc-machin spatio-tempo... bidule.</p>

<p>Pour le moment, les coûts liés à ce serveur sont plutôt raisonnables et l'administrateur peut se les permettre. Vous ne devez pas vous sentir obligés à payer quoi que ce soit, mais si vous désirez soutenir notre effort, vous pouvez <a href="https://liberapay.com/skk/donate">faire un don sur notre compte Liberapay</a>.</p>

<p>Veuillez cependant prendre bonne note que nous n'acceptons que des dons. Vous ne nous payez pas pour ce service: ne vous comportez pas comme si c'était le cas. Merci beaucoup!</p>

<p><em>Et rappelez-vous: ceci est un logiciel LIBRE et...</em></p>

<blockquote>
<p>&ldquo;... s'il détruit votre ordinateur, viole votre chat, installe Win98 sur votre grille-pain et sur votre four à micro-ondes, bloque votre stimulateur cardiaque, vous rend impuissant et transforme vos enfants en de foutus ados portant des vestes en cuir, brandissant des armes et adorant Hitler, ne me blâmez pas car je vous avais averti qu'il pourrait faire tout ça, et vous n'avez pas voulu m'écouter et vous l'avez quand-même utilisé.&rdquo;</p>
<footer>
<p> &mdash; <cite><a href="http://web.archive.org/web/20010418153836/http://projects.is.asu.edu/pipermail/slash-help/1999-October/000638.html">James Turinsky</a></cite> (traduit de l'anglais)</p>
</footer>
</blockquote>


<p><a href="#lang">&#10548;</a></p>


<hr>




<a name="it"></a>
<p><em>Italiano</em></p>

<h2>Benvenuti al Caffè Mammouth</h2>

<p>Nello spirito del <a href="http://tilde.club/">tilde.club</a>, ecco alcune semplici regole:</p>

<ul>
<li><em>Divertiti. Sii rispettoso. Niente drammi.</em></li>
<li>Qui NON C'È COLPA. NÉ VERGOGNA. Non sapere qualche cosa va benissimo. Non finire qualche cosa va pure benissimo.</li>
<li>Facciamo del nostro meglio, e siamo a bordo della stessa nave. :)</li>
<li>NOTA IMPORTANTE: NON PIRATARE IL GIBSON, GRAZIE.</li>
</ul>


<h3>Indicazioni</h3>

<p>Oltre alle semplici regole già menzionate, al Caffè Mammouth vi chiediamo di rispettare le nostre indicazioni, simili a <a href="https://mastodon.social/about/more">quelle dell'istanza madre mastodon.social</a>, vale a dire:</p>

<ol type="I">
<li>Non è ammesso assolutamente nessun contenuto illegale in Svizzera e/o Francia.</li>
<li>Nessuna discriminazione, nessun razzismo, nessuna xenofobia, nessun sessismo, nessun incitamento all'odio o alla violenza di alcun genere.</li>
<li>Molestie o intimidazioni di altre persone, su questo server o altrove, non sono tollerate. Lo stesso vale per chiunque incoraggi o inciti altre persone a tali comportamenti.</li>
<li>Delle opzioni <em>CW</em> (<em>Content Warning</em> = avviso di contenuto sensibile) e <em>NSFW</em> (<em>Not Safe For Work</em> = non adatto ad un ambiente di lavoro o pubblico) ti sono messe a disposizione: utilizzale come si deve al momento di pubblicare.</li>
<li>Nessuna pornografia dura o minorile di alcun tipo. Inoltre, ti chiediamo di pubblicare i contenuti di natura erotica dietro filtri <em>CW</em> e/o <em>NSFW</em>.</li>
<li>Nessun contenuto violento.</li>
<li>Nessuna pubblicità non richiesta (<em>spam</em>), nessuna pubblicità, nessun rinvio (<em>link</em>) affiliato o promozione eccessiva. Ma se vuoi annunciare il tuo nuovo fumetto, il tuo ultimo romanzo autopubblicato o il prossimo spettacolo della compagnia teatrale amatoriale del tuo quartiere alla nostra comunità, fallo pure.</li>
<li>I conti (<em>account</em>) aziendali non sono incoraggiati: preferiamo mantenere un tocco personale. Accogliamo però ben volentieri scuole, associazioni e altre organizzazioni non a scopo di lucro (come ad esempio una compagnia di teatro amatoriale).</li>
<li>Nessun conto fasullo o parodico che impersoni personaggi famosi o altre persone senza il loro consenso, anche se a scopo umoristico.</li>
<li>Nessun <em>bot</em>, sempre che non siano carini o amicali.</li>
<li>I robot che abusano del server saranno rottamati.</li>
<li>I replicanti sono come ogni altra macchina: possono essere un vantaggio o un rischio. Se sono un vantaggio, non sono un problema nostro.</li>
<li>Non sono ammessi zombi, sotto nessuna circostanza.</li>
<li><a href="http://www.gnuterrypratchett.com/">GNU Terry Pratchett</a>.</li>
</ol>

<p>L'interpretazione e l'applicazione finali di queste regole, di queste indicazioni e di tutto ciò in generale che costituisce una buona netichetta, così come ogni decisione che può risultare in una sospensione del conto e/o una revocazione dell'accesso, sono in ultima istanza il privilegio dell'amministrazione del Caffè Mammouth.</p>

<p>La nostra legislazione locale (Svizzera e Francia) ha precedenza sulle nostre regole e le nostre indicazioni.</p>

<h4>Modifiche alle nostre indicazioni</h4>

<p>Se decidiamo di modificare le nostre indicazioni, pubblicheremo tali modifiche su questa pagina.</p>

<p>Questo documento è stato aggiornato il 7 agosto 2017.</p>


<h3>Termini di servizio, codice di comportamento e informativa sulla riservatezza</h3>

<p>Siamo sicuri che hai già sentito il sermone abituale da parte dell'amministratore sistema locale. Di solito, si riassume a questi tre punti:</p>

<ol type="I">
<li>Rispetta la <em>privacy</em> degli altri.</li>
<li>Rifletti prima di digitare.</li>
<li>Da un grande potere derivano grandi responsabilità.</li>
</ol>

<p>Inoltre, consulta <a href="https://mammouth.cafe/terms#it">i nostri termini di servizio</a> per ulteriori informazioni a proposito del nostro supporto, del nostro codice di comportamento e della nostra informativa sulla riservatezza.</p>


<h3>A proposito di questo sito e come sostenerlo</h3>

<p>Il Caffè Mammouth è <a href="https://joinmastodon.org">un'istanza di Mastodon</a> ed è gestito dall'<a href="https://www.mammouth.ch">Atelier Mammouth</a> in un TARDIS in un qualche luogo/epoca situato in una specie di grande sfera di roba spazio-tempo... cosa.</p>

<p>Per il momento, i costi di questa istanza sono piuttosto ragionevoli e l'amministratore se li può permettere. Non devi sentirti obbligato a pagare qualcosa, ma se vuoi sostenere questo nostro sforzo, puoi <a href="https://liberapay.com/skk/donate">fare un dono sul nostro conto Liberapay</a>.</p>

<p>Prendi però buona nota del fatto che accettiamo solo doni. Non ci paghi per questo servizio: non agire quindi come se fosse il caso. Grazie mille!</p>


<p><em>E ricordati: questo è un software LIBERO e...</em></p>

<blockquote>
<p>&ldquo;... se distrugge il tuo computer, violenta il tuo gatto, installa Win98 sul tuo tostapane e sul tuo microonde, blocca il tuo stimolatore cardiaco, provoca disfunzioni sessuali e trasforma i tuoi bambini in fottuti adolescenti che indossano capotti e brandiscono armi adulando Hitler, non dare la colpa a me perché ti avevo detto che poteva fare proprio questo, e tu non hai voluto ascoltarmi e lo hai utilizzato lo stesso.&rdquo;</p>
<footer>
<p> &mdash; <cite><a href="http://web.archive.org/web/20010418153836/http://projects.is.asu.edu/pipermail/slash-help/1999-October/000638.html">James Turinsky</a></cite> (tradotto dall'inglese)</p>
</footer>
</blockquote>


<p><a href="#lang">&#10548;</a></p>


<hr>




<a name="en"></a>
<p><em>English</em></p>

<h2>Welcome to the Mammouth Café</h2>

<p>In the spirit of <a href="http://tilde.club/">tilde.club</a>, here are a few, simple rules:</p>

<ul>
<li><em>Have fun. Be respectful. No drama.</em></li>
<li>There is NO GUILT here. NOR SHAME. Not knowing things is fine. Not finishing them is fine too.</li>
<li>We're all trying, and we're all in this together. :)</li>
<li>IMPORTANT NOTE: PLEASE DON'T HACK THE GIBSON.</li>
</ul>


<h3>Guidelines</h3>

<p>Aside from the simple rules already stated, at the Mammouth Café we ask that you follow our guidelines, similar to <a href="https://mastodon.social/about/more">those of the flagship instance mastodon.social</a>, to wit:</p>

<ol type="I">
<li>Absolutely no content allowed that would be illegal in Switzerland and/or France.</li>
<li>No discrimination, no racism, no xenophobia, no sexism, no incitement to hate or to violence of any kind.</li>
<li>We do not tolerate stalking or harassment of other persons, on this server or elsewhere. Same goes for anyone who would encourage or incite other people to take part in such behaviours.</li>
<li>There are <em>CW</em> (Content Warning) and <em>NSFW</em> (Not Safe For Work) options: use them accordingly when you post.</li>
<li>No hard pornography or child/minor pornography of any kind, and keep any material of an erotic nature behind <em>CW</em> and/or <em>NSFW</em> filters.</li>
<li>No gore or extremely graphic violence.</li>
<li>No spam, no ads, no affiliate links or excessive promotion. But you are welcome to announce your latest comic, self-published novella or upcoming local amateur theatre stage play to our community.</li>
<li>We discourage any sort of corporate accounts: we prefer to keep it personal. On the other hand, educational institutions, associations and other non-profit organisations (such as e.g. amateur dramatics groups) are warmly welcome.</li>
<li>No fake accounts or parody accounts, even celebrity joke accounts, even if just for humour.</li>
<li>We discourage bots, unless they're cute or friendly.</li>
<li>Robots that bang on the server will get bitcanned.</li>
<li>Replicants are like any other machine: they’re either a benefit or a hazard. If they’re a benefit, it’s not our problem.</li>
<li>No zombies allowed under any circumstance.</li>
<li><a href="http://www.gnuterrypratchett.com/">GNU Terry Pratchett</a>.</li>
</ol>

<p>Final interpretation and implementation of these rules, guidelines and of what generally constitutes a good netiquette, as well as any and all decisions that may result in an account suspension and/or suppression, will be up to the administration of the Mammouth Café.</p>

<p>Our local legislation (Switzerland and France) supersedes our own rules and guidelines.</p>

<h4>Changes to our guidelines</h4>

<p>If we decide to change our guidelines, we will post those changes on this page.</p>

<p>This document was updated on the 7th of August, 2017.</p>


<h3>Terms of service, code of conduct and privacy policy</h3>

<p>We trust you have received the usual lecture from the local System Administrator. It usually boils down to these three things:</p>

<ol type="I">
<li>Respect the privacy of others.</li>
<li>Think before you type.</li>
<li>With great power comes great responsibility.</li>
</ol>

<p>Furthermore, see <a href="https://mammouth.cafe/terms#en">our terms of service</a> for more information about our support, our code of conduct and our privacy policy.</p>


<h3>About this site and how to support it</h3>

<p>The Mammouth Café is <a href="https://joinmastodon.org">a Mastodon instance</a> and is run and maintained by the <a href="https://www.mammouth.ch">Atelier Mammouth</a> in a TARDIS somewhere/time in a big ball of wibbly-wobbly timey-wimey... stuff.</p>

<p>For now, the costs of running this server are pretty reasonable and the admin can afford them. You should not feel obliged to pay anything, but if you wish to support this thing, you can <a href="https://liberapay.com/skk/donate">donate something on our Liberapay account</a>.</p>

<p>But please take note: we only accept donations. You don't pay us for this service: don't act like you do. Thank you so much!</p>

<p><em>And remember: this is FREE software and...</em></p>

<blockquote>
<p>&ldquo;... if it destroys your computer, rapes your pet, installs Win98 on your toaster and microwave, stops your pacemaker, causes sexual dysfunction, and turns your children into fucked-up trenchcoat-wearing teens carrying guns and worshipping Hitler, don't blame me because I told you it could do that and you went ahead and used it anyway.&rdquo;</p>
<footer>
<p> &mdash; <cite><a href="http://web.archive.org/web/20010418153836/http://projects.is.asu.edu/pipermail/slash-help/1999-October/000638.html">James Turinsky</a></cite></p>
</footer>
</blockquote>


<p><a href="#lang">&#10548;</a></p>


<hr>




<p>
<img src="../free_speech.png" title="I can&#39;t remember where I heard this, but someone once said that defending a position by citing free speech is sort of the ultimate concession; you&#39;re saying that the most compelling thing you can say for your position is that it&#39;s not literally illegal to express." alt="Free Speech"><br>
(<a href="https://xkcd.com/1357/">Source</a>) 
</p>


<p><a href="#top">&#10548;</a></p>