<a name="lang"></a>
<p><em>[ <a href="#fr">Français</a> | <a href="#it">Italiano</a> | <a href="#en">English</a> ]</em></p>




<a name="fr"></a>
<p><em>Français</em></p>

<h2>Conditions d'utilisation</h2>


<h3>Règles et directives</h3>

<p>Consultez <a href="https://mammouth.cafe/about/more#fr">nos simples règles et directives</a> pour plus d'informations sur l'ensemble des normes sociales en vigueur au sein de la communauté du Café Mammouth. Ces règles et directives font partie intégrante des conditions d'utilisation du Café Mammouth.</p>


<h3>Support</h3>

<ul>
<li>Vous pouvez suivre ou contacter notre support via ce compte: <em><a href="https://mammouth.cafe/@support">@support@mammouth.cafe</a></em>.</li>
<li>Vous pouvez aussi suivre <em><a href="https://mammouth.cafe/@status">@status@mammouth.cafe</a></em> pour avoir des informations sur le statut du serveur, les arrêts planifiés pour des mises à jour, etc.</li>
</ul>

<p>Cependant, remarquez bien que le Café Mammouth est un spectacle essentiellement interprété et mis en scène par une seule et même personne. Ne vous attendez donc pas à une réponse dans l'heure qui suit. S'il s'agit d'une urgence, essayez de poser votre question à l'ensemble de la communauté: il se peut que quelqu'un d'autre puisse également venir à votre aide.</p>

<p>Nous allons tâcher de ne pas gaffer, mais cela nous arrivera probablement un jour ou l'autre. Si ce que vous publiez au Café Mammouth est absolument vital pour vous, pensez à en faire une sauvegarde ailleurs (des flux <em>atom</em> sont disponibles pour chaque compte) ou bien mettez à disposition un peu de votre temps et de vos connaissances pour nous aider avec tout ça.</p>

<h4>Abus et harcèlement</h4>
<ul>
<li>Si vous êtes victime d'abus ou de harcèlement au Café Mammouth, veuillez nous signaler le compte à l'origine de l'abus à l'aide de la fonction <em>"Signaler"</em> ou en contactant <em><a href="https://mammouth.cafe/@support">@support@mammouth.cafe</a></em> par un message direct; nous traiterons votre requête avec la discrétion requise.</li>
<li>Si vous tenez un comportement abusif ou harcelant envers d'autres usagers, nous pourrons prendre toute mesure que nous jugerons appropriée, comme la suspension de votre compte ou une révocation d'accès définitive au site.</li>
</ul>

<p>Un abus c'est tout ce que nous considérerons comme tel. Tant pis si vous n'êtes pas d'accord.</p>


<h4>Instances bloquées et comptes suspendus</h4>
<p>Nous nous réservons le droit de <a href="https://gitlab.com/mammouthcafe/mamont-documentation/blob/master/blocked-instances.md">bloquer certaines instances de Mastodon</a> lorsqu'une partie importante de leur communauté enfreint par son comportement les règles et/ou le code de conduite du Café Mammouth. En principe, nous ne faisons aucun commentaire au sujet des comptes individuels qui auraient été rendus silencieux, suspendus ou supprimés.</p>

<p>La liste des instances bloquées ou suspendues par le Café Mammouth est disponible sous <a href="https://gitlab.com/mammouthcafe/mamont-documentation/blob/master/blocked-instances.md">https://gitlab.com/mammouthcafe/mamont-documentation/blob/master/blocked-instances.md</a>.</p>


<h4>Sécurité de vos données</h4>
<p>Nous respectons votre vie privée. Nous sommes ici pour nous amuser, pas pour gagner de l'argent sur votre dos en vous faisant avaler des tonnes de pubs indigestes ou en monétisant à longueur de journée vos activités en ligne. Aucune publicité ou traceur publicitaire n'est installé au Café Mammouth.</p>

<p>Veuillez toutefois prendre bonne note que les administrateurs du Café Mammouth ont potentiellement accès à toutes vos données, y compris vos messages directs. De plus, l'application dorsale (<em>back end</em>) n'est pas chiffrée. Si cela ne vous convient pas, nous ne sommes peut-être pas l'instance que vous recherchez.</p>

<p>Nous essayons de maintenir une sécurité raisonnable sur le serveur du Café Mammouth. Mais si vous êtes dans l'obligation professionnelle d'assurer la confidentialité de vos sources ou que vos activités en ligne risquent de vous mettre en péril, vous-même ou d'autres personnes, dans votre pays ou ailleurs, sachez que nous ne sommes pas en mesure de vous offrir une confidentialité et/ou une sécurité suffisante sur ce serveur.</p>

<p>Si vous désirez communiquer ou envoyer des données de manière vraiment privée entre deux personnes, sachez que le Café Mammouth n'offre pas de chiffrement de bout en bout (<em>end-to-end</em> ou <em>E2E</em>). Utilisez plutôt une application <em>E2E</em> dédiée avec une bonne réputation établie, comme <a href="https://whispersystems.org/">Signal</a> par exemple.</p>

<p>Enfin, un bon conseil: considérez le Café Mammouth comme étant un espace public. Tout ce que vous publierez ici est public, d'une manière ou d'une autre, et peut être lu (et probablement le sera) par d'autres personnes ou même être archivé par l'<a href="https://archive.org">Internet Archive</a> et/ou d'autres institutions similaires.</p>

<p>Et n'oubliez jamais de bien vous protéger lors de toute activité hexuelle!</p>


<h3>Code de conduite</h3>

<h4>Notre engagement</h4>
<p>Dans l'intérêt de favoriser un environnement ouvert et accueillant au Mammouth Café, nous nous engageons, en tant qu'administrateurs et modérateurs de ce site, à faire de la participation une expérience exempte de harcèlement pour tout le monde, quel que soit le niveau d'expérience, le sexe, l'identité ou l'expression de genre, l'orientation sexuelle, le handicap, l'apparence
personnelle, la taille physique, la race, l'origine ethnique, l'âge, la religion ou la nationalité.</p>

<h4>Nos critères</h4>
<p>Exemples de comportements qui contribuent à créer un environnement positif:</p>
<ul>
<li>L'utilisation d'un langage ouvert et accueillant.</li>
<li>Être respectueux des différents points de vue et expériences vécues.</li>
<li>Accepter poliment les critiques constructives.</li>
<li>Se concentrer sur ce qui est meilleur pour la communauté.</li>
<li>Faire preuve d'empathie envers les autres membres de la communauté.</li>
</ul>

<p>Exemples de comportements non acceptables:</p>
<ul>
<li>L'utilisation de langage ou d'imagerie sexualisés et les avances sexuelles non sollicitées.</li>
<li>Le <em>trolling</em>, les commentaires insultants ou désobligeants, et les attaques personnelles ou d'ordre politique.</li>
<li>Le harcèlement en public ou en privé.</li>
<li>La publication d'informations privées de tierces personnes, telles que des adresses physiques ou électroniques, sans permission explicite.</li>
<li>Toute conduite qui pourrait être raisonnablement considérée comme inappropriée dans milieu professionnel.</li>
</ul>

<h4>Nos responsabilités</h4>
<p>Les administrateurs du site doivent clarifier les critères de comportement acceptables: il est attendu de leur part qu'ils prennent les mesures correctives justes comme réponse à tout comportement inacceptable.</p>

<p>Les administrateurs du site ont le droit et la responsabilité de supprimer, modifier ou rejeter les publications, partages, commentaires, modifications, questions et autres contributions signalées qui ne respectent pas ce code de conduite, ou de bannir temporairement ou définitivement tout membre pour des comportements qu'ils jugent inappropriés, menaçants, injurieux, ou nuisibles.</p>

<h4>Portée</h4>
<p>Ce code de conduite s'applique à la fois au sein de ce site ainsi que dans les espaces publics lorsqu'un individu représente le site ou sa communauté. Font partie des exemples de représentations d'un site ou d'une communauté le fait d'utiliser une adresse email propre au site, de poster sur les réseaux sociaux avec un compte officiel, ou d'intervenir comme représentant programmé à un événement en ligne ou hors-ligne. La représentation du site pourra être autrement définie et clarifiée par les administrateurs du site.</p>

<h4>Application</h4>
<p>Les cas de comportements abusifs, harcelants ou tout autre comportement inacceptable peuvent être signalés en contactant les administrateurs du site par un message privé au compte <em><a href="https://mammouth.cafe/@support">@support@mammouth.cafe</a></em>. Toutes les plaintes seront examinées et étudiées et se traduiront par une réponse appropriée aux circonstances. Les administrateurs du site s'engagent à garder confidentielles les informations de la personne qui remonte un incident. Plus de détails sur la politique de mise en application des règles peuvent être publiés séparément.</p>

<p>Les administrateurs ou les modérateurs du site qui ne suivent ou qui n'appliquent pas le code de conduite de bonne foi s'exposent temporairement ou de façon permanente à des répercussions définies par d'autres membres de l'administration du site.</p>


<h3>Politique de confidentialité</h3>

<h4>Quelles données collectons-nous?</h4>
<p>Nous collectons des données lorsque vous vous enregistrez sur notre site, le Café Mammouth, et également lorsque vous participez et interagissez avec la communauté de notre site en lisant, écrivant, partageant des contenus et évaluant les contenus partagés par d'autres.</p>

<p>Lors de votre enregistrement sur notre site, nous vous demandons votre nom ou pseudonyme (<em>alias</em>) et votre adresse de courriel (<em>e-mail</em>). Cependant, vous pouvez aussi visiter notre site sans inscription. Vous devrez confirmer la validité de votre adresse de courriel grâce à un message contenant un lien unique qui vous sera envoyé. Si ce lien est cliqué, nous saurons que vous contrôlez cette adresse de courriel.</p>

<p>Lors de l'inscription et de la publication de contenus, nous enregistrons l'adresse <em>IP</em> (<em>Internet Protocol</em>) de provenance des partages. Nous conservons également des historiques serveurs qui contiennent l'adresse <em>IP</em> de chaque requête adressée à notre serveur.</p>

<h4>Que faisons-nous avec vos données?</h4>
<p>Toute information que nous collectons pourra être utilisée dans ces buts:</p>
<ul>
<li>Pour personnaliser votre expérience: vos données nous aident à mieux répondre à vos besoins individuels.</li>
<li>Pour améliorer notre site: nous faisons tout notre possible pour améliorer notre site en fonction des données, retours et suggestions que nous recevons.</li>
<li>Afin d'améliorer le support client: vos données nous aident à mieux répondre à vos requêtes et demandes de support.</li>
<li>Afin d'envoyer périodiquement des <em>e-mails</em>: l'adresse de courriel que vous nous avez indiquée au moment de votre inscription peut être utilisée pour vous envoyer des données et des notifications concernant des changements sur le site, ou en réponse à votre pseudonyme afin de répondre à vos questions et/ou autres requêtes.</li>
</ul>

<h4>Comment protégeons-nous vos données?</h4>
<p>Nous appliquons un ensemble de mesures afin de maintenir la sécurité de vos données personnelles, lorsque vous les renseignez, nous les soumettez, ou accédez à ces dernières.</p>

<h4>Quelle est notre politique de conservation des données?</h4>
<p>Nous nous efforçons de:</p>
<ul>
<li>Ne pas conserver les historiques du serveur (contenant l'adresse <em>IP</em> de chaque requête adressée à ce serveur) plus de 90 jours.</li>
<li>Ne pas conserver les adresses <em>IP</em> associées aux membres et à leurs publications plus de 5 ans.</li>
</ul>

<h4>Utilisons-nous des <em>cookies</em>?</h4>
<p>Oui. Les <em>cookies</em> sont de petits fichiers qu'un site ou des prestataires de services transfèrent sur le disque dur de votre ordinateur par le biais de votre navigateur web (si ce dernier le permet). Ces <em>cookies</em> permettent au site de reconnaître votre navigateur et, si vous y disposez d'un compte, de l'associer à votre compte.</p>

<p>Nous utilisons les <em>cookies</em> pour enregistrer vos préférences pour de futures visites, ainsi que pour compiler des données agrégées à propos du trafic et des interactions effectuées sur le site afin de vous proposer une meilleure expérience dans le futur. Nous pouvons contracter des services tiers afin de nous aider à mieux comprendre les interactions de nos visiteurs avec notre site. Ces services ont l'autorisation d'utiliser ces données uniquement à des fins d'améliorations.</p>

<h4>Divulguons-nous des données à des tiers?</h4>
<p>Nous n'échangeons pas, ne vendons pas, ni effectuons de quelconques transferts  avec des tiers, d'informations permettant de vous identifier personnellement. Cela n'inclut pas les tiers de confiance qui nous aident à gérer notre serveur et à vous servir, tant que ces tiers s'accordent à garder les dites informations confidentielles.</p>

<p>Nous pouvons être amenés à délivrer vos informations à des tiers, lorsque cela est jugé adéquat afin de respecter la loi, d'appliquer les règles de notre site, ou afin de protéger nos droits, ceux des autres, notre propriété ou notre sécurité. Cependant, aucune information permettant l'identification de nos visiteurs ne sera divulguée à des fins publicitaires, commerciales ou tout autre usage similaire.</p>

<h4>Liens vers des tiers</h4>
<p>Nous pouvons être amenés à inclure ou offrir les services ou produits de tiers sur notre site. Ces tiers appliquent leur propre politique de confidentialité. Nous ne sommes pas responsables du contenu ou des activités des dits tiers. Cependant, nous aspirons à protéger l'intégrité de notre site et de ses usagers, et nous sommes ouverts à toute remarque concernant ces tiers.</p>

<h4>Politique de confidentialité en ligne seulement</h4>
<p>Cette politique de confidentialité en ligne s'applique uniquement aux informations recueillies via notre site et non aux informations collectées hors ligne.</p>


<h3>Votre consentement</h3>
<p>En utilisant notre site Café Mammouth, disponible à l'adresse <a href="https://mammouth.cafe">https://mammouth.cafe</a>, vous nous indiquez consentir à nos conditions d'utilisation et à nos règles.</p>


<h3>Modifications apportées à nos conditions d'utilisation</h3>

<p>Si nous décidons de modifier nos conditions d'utilisation, nous publierons ces changements sur cette page.</p>

<p>Ce document a été mis à jour le 7 août 2017.</p>


<p><a href="#lang">&#10548;</a></p>


<hr>




<a name="it"></a>
<p><em>Italiano</em></p>

<h2>Termini di servizio</h2>


<h3>Indicazioni</h3>

<p>Consulta <a href="https://mammouth.cafe/about/more#it">le nostre semplici regole e indicazioni</a> per ulteriori informazioni sulle norme sociali vigenti in seno alla comunità del Caffè Mammouth. Queste regole e indicazioni sono parte integrante dei termini di servizio del Caffè Mammouth.</p>


<h3>Supporto</h3>

<ul>
<li>Per il supporto, puoi seguire o contattare <em><a href="https://mammouth.cafe/@support">@support@mammouth.cafe</a></em>.</li>
<li>Per informazioni sullo stato del <em>server</em>, sospensioni pianificate del servizio, ecc., puoi seguire <em><a href="https://mammouth.cafe/@status">@status@mammouth.cafe</a></em>.</li>
</ul>

<p>Peraltro, prendi buona nota del fatto che il Caffè Mammouth è uno spettacolo essenzialmente diretto e interpretato da una sola persona. Non attenderti dunque ad una risposta nell'ora che segue. Se la tua domanda è urgente, prova a porla alla comunità: può darsi che qualcun altro possa darti una mano.</p>

<p>Cercheremo di non combinare guai, ma ciononostante la faremo probabilmente grossa a un momento o a un altro. Se pensi che ciò che pubblichi al Caffè Mammouth è d'importanza vitale per te, fanne una salvaguardia da qualche altra parte (ci sono dei <em>feed atom</em> a disposizione per ogni conto) oppure offri un po' del tuo tempo e delle tue conoscenze per darci una mano con tutto questo.</p>

<h4>Abusi e molestie</h4>
<ul>
<li>Se sei vittima di abusi o molestie al Caffè Mammouth, segnalaci il conto all'origine dell'abuso tramite la funzione <em>"Segnalare"</em> oppure contattando <em><a href="https://mammouth.cafe/@support">@support@mammouth.cafe</a></em> con un messaggio diretto; tratteremo la tua richiesta con la discrezione necessaria.</li>
<li>Se hai un comportamento abusivo o offensivo verso altre persone, potremo intraprendere qualsiasi azione che riterremo opportuna, come una sospensione del tuo conto o una revoca definitiva dell'accesso al sito.</li>
</ul>

<p>Abuso è tutto ciò che noi consideriamo come tale. Se non sei d'accordo: tanto peggio.</p>

<h4>Istanze bloccate e conti sospesi</h4>
<p>Ci riserviamo il diritto di <a href="https://gitlab.com/mammouthcafe/mamont-documentation/blob/master/blocked-instances.md">bloccare alcune istanze Mastodon</a> nei casi in cui una parte significativa delle loro comunità violi le regole e/o il codice di comportamento del Caffè Mammouth con il loro comportamento. In genere, non diamo commenti su conti individuali che abbiamo reso silenziosi, sospesi o soppressi.</p>

<p>La lista delle istanze bloccate o sospese dal Caffè Mammouth è disponibile presso <a href="https://gitlab.com/mammouthcafe/mamont-documentation/blob/master/blocked-instances.md">https://gitlab.com/mammouthcafe/mamont-documentation/blob/master/blocked-instances.md</a>.</p>

<h4>Sicurezza dei tuoi dati</h4>
<p>Rispettiamo la tua <em>privacy</em>. Siamo qui per divertirci, non per fare soldi sul tuo gobbo facendoti inghiottire tonnellate di pubblicità indigeste o monetizzando per tutto il giorno (e la notte) la tua attività <em>online</em>. Nessuna pubblicità o <em>tracker</em> sono presenti al Caffè Mammouth.</p>

<p>Tuttavia, ricordati che gli amministratori del Caffè Mammouth hanno potenzialmente accesso a tutti i tuoi dati, ivi inclusi i tuoi messaggi diretti. Inoltre, il <em>back end</em> non è crittografato. Se questo non ti si addice, questa forse non è l'istanza che stai cercando.</p>

<p>Cerchiamo di mantenere un livello di sicurezza ragionevole sul server del Caffè Mammouth. Ma se ti trovi in una situazione dove hai l'obbligo professionale di mantenere la riservatezza delle tue fonti oppure nella quale le tue attività rischiano di mettere in pericolo te stesso o altre persone, nel tuo paese o altrove, sappi che non siamo in grado di offrirti le condizioni di <em>privacy</em> e/o di sicurezza sufficienti.</p>

<p>Se desideri inviare dati in modo veramente privato tra due persone, sappi che il Caffè Mammouth non offre alcuna crittografia da un capo all'altro (<em>end-to-end</em> o <em>E2E</em>). Utilizza piuttosto un'applicazione specializzata <em>E2E</em> con una buona reputazione, come <a href="https://whispersystems.org/">Signal</a> per esempio.</p>

<p>Infine, un buon consiglio: considera il Caffè Mammouth come se fosse uno spazio pubblico. Tutto ciò che pubblichi qui è pubblico, in un modo o nell'altro, e può essere letto (e probabilmente lo sarà) da altre persone oppure può potenzialmente essere archiviato dall'<a href="https://archive.org">Internet Archive</a> e/o da altre istituzioni affini.</p>

<p>E ricordati: proteggiti sempre durante ogni rapporto hexuale!</p>


<h3>Codice di comportamento</h3>

<h4>Il nostro impegno</h4>
<p>Allo scopo di incoraggiare un ambiente sociale aperto e accogliente al Caffè Mammouth, noi in quanto amministratori e moderatori del sito ci impegniamo a rendere la partecipazione al nostro sito e alla nostra comunità un'esperienza priva di molestie per tutti, indipendentemente da età, dimensioni del corpo, disabilità, etnia, identità ed espressione di genere, livello di esperienza, nazionalità, aspetto fisico, razza, religione, o identità e orientamento sessuale.

<h4>I nostri criteri</h4>
<p>Esempi di comportamento che contribuiscono a creare un ambiente sociale positivo includono:</p>
<ul>
<li>L'uso di un linguaggio accogliente e inclusivo.</li>
<li>Essere rispettoso dei punti di vista e delle esperienze differenti.</li>
<li>Accettare in modo composto critiche costruttive.</li>
<li>Concentrarsi su cosa è meglio per la comunità.</li>
<li>Mostrare empatia verso gli altri membri della comunità.</li>
</ul>

<p>Esempi di comportamento inaccettabile:</p>
<ul>
<li>L'uso di un linguaggio o di immagini sessuali e attenzioni o avances sgradite.</li>
<li>Comportamento da <em>troll</em> o commenti offensivi/dispregiativi e attacchi personali o politici.</li>
<li>Molestie pubbliche o private.</li>
<li>Pubblicazione di informazioni private di un individuo, quali l'indirizzo reale e/o elettronico, senza l'esplicito consenso.</li>
<li>Altri comportamenti che possono ragionevolmente considerati inappropriati in ambito professionale.</li>
</ul>

<h4>Le nostre responsabilità</h4>
<p>Gli amministratori del sito sono tenuti a chiarire gli standard di comportamento accettabile e a prendere azioni correttive appropriate e giuste in risposta a qualsiasi caso di comportamento inaccettabile.</p>

<p>Gli amministratori del sito hanno il diritto e la responsabilità di rimuovere, modificare o cancellare pubblicazioni, condivisioni (<em>shares</em>), commenti, modifiche, domande e altri contributi che non sono in linea con questo codice di comportamento, o di bandire temporaneamente o permanentemente qualsiasi membro per altri comportamenti ritenuti inappropriati, intimidatori, offensivi o dannosi.</p>

<h4>Ambito</h4>
<p>Questo codice di comportamento è applicabile sia in seno a questo sito che agli spazi pubblici quando un individuo rappresenta il sito stesso o la sua comunità. Esempi di rappresentazione di un sito o di una comunità includono l'uso di un indirizzo <em>e-mail</em> ufficiale del sito, <em>post</em> tramite un <em>account</em> ufficiale sui <em>social media</em>, o l'agire come un rappresentante designato in un evento <em>online</em> o <em>offline</em>. La rappresentanza di un sito può essere ulteriormente definita e chiarificata dagli amministratori del sito.</p>

<h4>Applicazione</h4>
<p>Casi di comportamento ingiurioso, molesto o altrimenti inaccettabile possono essere riportati contattando gli amministratori del sito tramite un messaggio diretto al conto <em><a href="https://mammouth.cafe/@support">@support@mammouth.cafe</a></em>. Tutti i reclami saranno esaminati e indagati e risulteranno in una risposta ritenuta necessaria e appropriata alle circostanze. Gli amministratori del sito sono obbligati a mantenere riserbo rispetto a chi riporta un caso. Ulteriori dettagli di applicazioni specifiche possono essere postati separatamente.</p>

<p>Gli amministratori o i moderatori del sito che non seguono o non applicano il codice di comportamento in buona fede possono affrontare ripercussioni temporanee o permanenti in base alla deliberazione degli altri membri dell'amministrazione del sito.</p>


<h3>Informativa sulla riservatezza (<em>privacy</em>)</h3>

<h4>Quali informazioni raccogliamo?</h4>
<p>Raccogliamo informazioni quando ti iscrivi al nostro sito, il Caffè Mammouth, e raccogliamo pure informazioni quando partecipi e interagisci con la comunità del nostro sito leggendo, scrivendo, condividendo e valutando i contenuti condivisi da altri.</p>

<p>Quando ti iscrivi al nostro sito, ti sarà chiesto di inserire il tuo nome o un <em>alias</em> ed il tuo indirizzo di posta elettronica (<em>e-mail</em>). Puoi comunque visitare il nostro sito senza registrarti. Dovrai confermare il tuo indirizzo di posta elettronica tramite un'<em>e-mail</em> contenente un rinvio (<em>link</em>) univoco che ti sarà inviata. Se questo rinvio è visitato, sapremo che tu controlli quell'indirizzo di posta elettronica.</p>

<p>Al momento della tua registrazione e quando pubblichi i tuoi contenuti, registriamo l'indirizzo <em>IP</em> (<em>Internet Protocol</em>) da cui è stata generata la pubblicazione. Conserviamo anche i registri (<em>log</em>) del <em>server</em>, i quali includono l'indirizzo <em>IP</em> di ogni richiesta fatta al nostro <em>server</em>.</p>

<h4>A che scopo utilizziamo le tue informazioni?</h4>
<p>Ogni informazione che raccogliamo potrà essere utilizzata in uno dei modi seguenti:</p>
<ul>
<li>Per personalizzare la tua esperienza: le tue informazioni ci aiutano a rispondere meglio ai tuoi bisogni.</li>
<li>Per migliorare il nostro sito: ci sforziamo continuamente di migliorare il nostro sito in base alle informazioni e ai commenti ricevuti.</li>
<li>Per migliorare il servizio clienti: le tue informazioni ci aiutano a rispondere in modo più efficace alle richieste del servizio clienti e alle domande di assistenza.</li>
<li>Per inviare <em>e-mail</em> periodiche: l'indirizzo di posta elettronica che ci hai fornito potrà essere utilizzato per inviarti delle informazioni, delle notifiche riguardo ai cambiamenti sul sito o in risposta al tuo alias per rispondere alle tue domande e/o altre richieste.</li>
</ul>

<h4>Come proteggiamo i tuoi dati?</h4>
<p>Implementiamo una serie di misure di sicurezza per mantenere la sicurezza delle tue informazioni personali quando le inserisci, le invii o vi accedi.</p>

<h4>Qual è la nostra politica di conservazione dei dati?</h4>
<p>Facciamo uno sforzo in buona fede per:</p>
<ul>
<li>Conservare i registri del <em>server</em> (contenenti l'indirizzo <em>IP</em> di tutte le richieste inviate a questo <em>server</em>) non più di 90 giorni.</li>
<li>Conservare gli indirizzi <em>IP</em> associati ai membri registrati e alle loro pubblicazioni non più di 5 anni.</li>
</ul>

<h4>Utilizziamo i <em>cookie</em>?</h4>
<p>Sì. I <em>cookie</em> sono piccoli <em>file</em> che un sito o il suo fornitore di servizi trasferiscono sull'<em>hard disk</em> del <em>computer</em> tramite il <em>browser</em> web (se lo autorizzi). Questi <em>cookie</em> consentono al sito di riconoscere il tuo <em>browser</em> e, se vi hai un <em>account</em> registrato, di associarlo al tuo <em>account</em>.

<p>Utilizziamo i <em>cookie</em> per comprendere e salvaguardare le tue preferenze per le tue future visite, e per compilare dati aggregati sul traffico sul sito e l'interazione col sito in modo da offrire una migliore esperienza in futuro. Possiamo contrattare dei fornitori di servizi esterni per aiutarci a comprendere meglio i visitatori del sito. Questi fornitori di servizi non sono autorizzati a utilizzare le informazioni raccolte per conto nostro, eccetto che per aiutarci a condurre e migliorare la nostra attività.

<h4>Trasferiamo le informazioni a soggetti esterni?</h4>
<p>Non vendiamo, commercializziamo o altrimenti trasferiamo a soggetti esterni le tue informazioni personali. Ciò non include soggetti esterni di fiducia che ci aiutano a gestire il nostro sito, a svolgere la nostra attività o a servirvi, a condizione che questi soggetti esterni accettino di mantenere confidenziali tali informazioni. Possiamo anche trasferire le tue informazioni quando pensiamo che la loro trasmissione sia appropriata per motivi di legge, per far rispettare le regole del nostro sito o per proteggere i nostri diritti, proprietà o sicurezza. Tuttavia, non saranno fornite informazioni personali dei visitatori a soggetti esterni per scopi di <em>marketing</em>, pubblicità o altri usi simili.

<h4>Rinvii verso soggetti esterni</h4>
<p>A volte, a nostra discrezione, possiamo includere o offrire prodotti o servizi di soggetti esterni sul nostro sito. Questi soggetti esterni hanno informative sulla riservatezza separate e distinte. Non siamo pertanto responsabili dei contenuti e delle attività di questi soggetti esterni. Ciononostante, cerchiamo di proteggere l'integrità del nostro sito e accoglieremo ben volentieri qualsiasi osservazione a proposito di questi soggetti esterni.

<h4>Informativa sulla riservatezza unicamente <em>online</em></h4>
<p>Questa informativa sulla riservatezza <em>online</em> si applica solo alle informazioni raccolte attraverso il nostro sito e non alle informazioni raccolte <em>offline</em>.</p>


<h3>Il tuo consenso</h3>

<p>Utilizzando il nostro sito Caffè Mammouth, disponibile presso <a href="https://mammouth.cafe">https://mammouth.cafe</a>, indichi accettare i nostri termini di servizio e le nostre regole.</p>


<h3>Modifiche ai nostri termini di servizio</h3>

<p>Se decidiamo di cambiare i nostri termini di servizio, pubblicheremo tali modifiche su questa pagina.</p>

<p>Questo documento è stato aggiornato il 7 agosto 2017.</p>


<p><a href="#lang">&#10548;</a></p>


<hr>




<a name="en"></a>
<p><em>English</em></p>

<h2>Terms of service</h2>


<h3>Rules and guidelines</h3>

<p>See <a href="https://mammouth.cafe/about/more#en">our simple rules and guidelines</a> for more information on the social norms in use within the community of the Mammouth Café. These rules and guidelines are an integral part of the terms of service applicable to the Mammouth Café.</p>


<h3>Support</h3>

<ul>
<li>Support is available: follow or contact <em><a href="https://mammouth.cafe/@support">@support@mammouth.cafe</a></em>.</li>
<li>For status updates, planned downtimes and so on, you can follow <em><a href="https://mammouth.cafe/@status">@status@mammouth.cafe</a></em>.</li>
</ul>
    
<p>Please note that the Mammouth Café is essentially a one-man show, so do not expect an answer within the hour. If it's urgent, try asking the community: somebody else may be able to lend you a hand.</p>

<p>We'll try not to mess things up, but we probably will at some point. If you feel that what you post on the Mammouth Café is vital to you, do make a backup somewhere else (atom feeds are available for every account) or give some of your time and knowledge to help us out with this thing.</p>


<h4>Abuse and harassment</h4>

<ul>
<li>If you are being abused or harassed at the Mammouth Café, please report the account of your abuser using the <em>"Report"</em> function or by contacting <em><a href="https://mammouth.cafe/@support">@support@mammouth.cafe</a></em> via a direct message; we will process your request with the required discretion.</li>
<li>If you engage in abusing or harassing behaviour, we may take any action we deem appropriate, such as a suspension of your account or a permanent revocation of your access to the site.</li>
</ul>

<p>Abuse is anything we say it is. Too bad if you disagree.</p>


<h4>Blocked instances</h4>

<p>We do reserve the right to <a href="https://gitlab.com/mammouthcafe/mamont-documentation/blob/master/blocked-instances.md">block some Mastodon instances</a> where a sizeable part of their community infringes the Mammouth Café rules and/or code of conduct with their behaviour. We do not usually comment on individual accounts that were muted, suspended or removed.</p>

<p>The list of instances blocked or suspended by the Mammouth Café is available at <a href="https://gitlab.com/mammouthcafe/mamont-documentation/blob/master/blocked-instances.md">https://gitlab.com/mammouthcafe/mamont-documentation/blob/master/blocked-instances.md</a>.</p>


<h4>Security of your data</h4>

<p>We value your privacy. We are here to have fun, not to make any money by throwing ads down your throat or monetizing the shit out of your online activities. No ads or trackers are installed on the Mammouth Café.</p>

<p>Please understand however that the Mammouth Café administrators have potential access to your data, including your direct messages. Also, the back end is not encrypted. If this is not all right with you, this might not be the instance you're looking for.</p>

<p>We'll try to keep things reasonably safe, here on the Mammouth Café server. But if you professionally need to keep your sources confidential or you are involved in activities that may put yourself or others in jeopardy, in your country or elsewhere, please take into account the fact that we won't be able to offer you the necessary confidentiality and/or security on this server.</p>

<p>If you would like to send truly private data between two people, know that the Mammouth Café offers no end-to-end (<em>E2E</em>) encryption. Use a dedicated E2E application with a good reputation instead, like e.g. <a href="https://whispersystems.org/">Signal</a>.</p>

<p>Finally, a word of advice: consider the Mammouth Café as being a public space. Whatever you publish here is public, in one way or another, and can (and probably will) be read by someone else or even be archived by the <a href="https://archive.org">Internet Archive</a> and/or other similar institutions.</p>

<p>And remember to always practice safe hex!</p>


<h3>Code of conduct</h3>

<h4>Our pledge</h4>
<p>In the interest of fostering an open and welcoming environment at the Mammouth Café, we as site administrators and moderators pledge to make participation in our site and
our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, gender identity and expression, level of experience, nationality, personal appearance, race, religion, or sexual identity and orientation.</p>

<h4>Our standards</h4>
<p>Examples of behaviour that contributes to creating a positive environment include:</p>
<ul>
<li>Using welcoming and inclusive language.</li>
<li>Being respectful of differing viewpoints and experiences.</li>
<li>Gracefully accepting constructive criticism.</li>
<li>Focusing on what is best for the community.</li>
<li>Showing empathy towards other community members.</li>
</ul>

<p>Examples of unacceptable behaviour by participants include:</p>
<ul>
<li>The use of sexualized language or imagery and unwelcome sexual attention or advances.</li>
<li>Trolling, insulting/derogatory comments, and personal or political attacks.</li>
<li>Public or private harassment.</li>
<li>Publishing others' private information, such as a physical or electronic address, without explicit permission.</li>
<li>Other conducts which could reasonably be considered inappropriate in a professional setting.</li>
</ul>

<h4>Our responsibilities</h4>
<p>Site administrators are responsible for clarifying the standards of acceptable behaviour and are expected to take appropriate and fair corrective action in response to any instances of unacceptable behaviour.</p>

<p>Site administrators have the right and responsibility to remove, edit, or reject posts, shares, comments, edits, questions and other contributions that are not aligned to this code of conduct, or to ban temporarily or permanently any member for other behaviours that they deem inappropriate, threatening, offensive, or harmful.</p>

<h4>Scope</h4>
<p>This code of conduct applies both within this site and in public spaces when an individual is representing the site or its community. Examples of representing a site or community include using an official site e-mail address, posting via an official social media account, or acting as an appointed representative at an online or offline event. Representation of a project may be further defined and clarified by site administrators.</p>

<h4>Enforcement</h4>
<p>Instances of abusive, harassing, or otherwise unacceptable behaviour may be reported by contacting the site administrators by private message at <em><a href="https://mammouth.cafe/@support">@support@mammouth.cafe</a></em>. All complaints will be reviewed and investigated and will result in a response that is deemed necessary and appropriate to the circumstances. The site administrators are obligated to maintain confidentiality with regard to the reporter of an incident. Further details of specific enforcement policies may be posted separately.</p>

<p>Site administrators or moderators who do not follow or enforce the code of conduct in good faith may face temporary or permanent repercussions as determined by other members of the project's leadership.</p>


<h3>Privacy policy</h3>

<h4>What information do we collect?</h4>
<p>We collect information from you when you register on our site, the Mammouth Café, and gather data when you participate in and interact with the community of our site by reading, writing, sharing and evaluating the content shared by others.</p>

<p>When registering on our site, you will be asked to enter your name or an alias and your e-mail address. You may, however, visit our site without registering. You will need to confirm your e-mail address via an e-mail containing a unique link that will be sent to you. If that link is visited, we will know that you control that e-mail address.</p>

<p>When registered and posting, we record the IP (<em>Internet Protocol</em>) address that the post originated from. We also retain server logs which include the IP address of every request to our server.</p>

<h4>What do we use your information for?</h4>
<p>Any of the information we collect from you may be used in one of the following ways:</p>
<ul>
<li>To personalize your experience: your information helps us to better respond to your individual needs.</li>
<li>To improve our site: we continually strive to improve our site offerings based on the information and feedback we receive from you.</li>
<li>To improve customer service: your information helps us to more effectively respond to your customer service requests and support needs.</li>
<li>To send periodic emails: the email address you provided us with may be used to send you information, notifications that you request about changes to topics or in response to your user name, respond to inquiries, and/or other requests.</li>
</ul>

<h4>How do we protect your information?</h4>
<p>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information.</p>

<h4>What is our data retention policy?</h4>
<p>We will make a good faith effort to:</p>
<ul>
<li>Retain server logs (containing the IP address of all requests to this server) no more than 90 days.</li>
<li>Retain the IP addresses associated with registered members and their posts no more than 5 years.</li>
</ul>

<h4>Do we use cookies?</h4>
<p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your web browser (if you allow it). These cookies enable the site to recognize your browser and, if you have a registered account, associate it with your registered account.</p>

<p>We use cookies to understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.</p>

<h4>Do we disclose any information to outside parties?</h4>
<p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our site, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, no personally identifiable visitor information will be provided to other parties for marketing, advertising, or other similar uses.</p>

<h4>Third party links</h4>
<p>Occasionally, at our discretion, we may include or offer third party products or services on our site. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>

<h4>Online privacy policy only</h4>
<p>This online privacy policy applies only to information collected through our site and not to information collected offline.</p>


<h3>Your consent</h3>

<p>By using our site Mammouth Café, accessible at <a href="https://mammouth.cafe">https://mammouth.cafe</a>, you consent to our terms of service.</p>


<h3>Changes to our terms of service</h3>

<p>If we decide to change our terms of service, we will post those changes on this page.</p>

<p>This document was updated on the 7th of August, 2017.</p>


<p><a href="#lang">&#10548;</a></p>


<hr>




<h2>Credits</h2>

<ul>
<li><a href="http://sdf.org/?abuse/aup">SDF Acceptable Use Policy</a></li>
<li><a href="http://www.floodgap.com/etc/tos.html">Floodgap Terms of Service</a></li>
<li><a href="https://gcc.gnu.org/">GCC, the GNU Compiler Collection</a> prompt</li>
<li><a href="https://mastodon.social/about/more">Mastodon Guidelines</a> (thank you <a href="https://mastodon.social/@Gargron">@Gargron</a>)</li>
<li><a href="https://toot.cafe/about/more">Toot Café Code of Conduct</a> (thank you <a href="https://toot.cafe/@nolan">@nolan</a>)</li>
</ul>


<h3>Attribution</h3>

<ul>
<li>Our code of conduct has been adapted from the <a href="http://contributor-covenant.org">Contributor Covenant</a>, version 1.4,
available at <a href="http://contributor-covenant.org/version/1/4/">http://contributor-covenant.org/version/1/4</a>.</li>
<li>Our privacy policy has been adapted from the <a href="https://www.discourse.org/">Discourse</a> privacy policy, available at <a href="https://try.discourse.org/privacy">https://try.discourse.org/privacy</a>, and from the <a href="https://mastodon.social">Mastodon.social</a> privacy policy, available at <a href="https://mastodon.social/terms">https://mastodon.social/terms</a>.</p>
</li>
</ul>


<p><a href="#lang">&#10548;</a></p>